.adj-ht{
    min-height: 780px;
}
@media (max-width: 1600px) {
  .adj-height {
    min-height: 900px;
  }
}
@media (max-width: 1025px) {
  .adj-height {
    min-height: 850px;  }
}
@media (max-width: 768px) {
  .adj-height {
    min-height: 845px;
  }
}

@media (max-width: 425px) {
  .adj-height {
    min-height: 1315px;
  }
}

@media (max-width: 375px) {
  .adj-height {
    min-height: 1315px;
  }
}

@media (max-width: 325px) {
  .adj-height {
    min-height: 1525px;
  }
}



/* .dropdown-filter span{
    display: flex;
    justify-content: center;
    width: fit-content !important;
}
.dropdown-filter {
    display: flex;
    justify-content: center;
    width: fit-content  !important;
} */
.main-banner-box6 .banner-search-wrap .item-para {
    color: #00c194;
}
